<md-card>
  <md-card-header>
    <md-card-title>Aplicativo para pedir músicas</md-card-title>
    <md-card-subtitle>Sobre</md-card-subtitle>
  </md-card-header>
  <md-card-content>
    <p>
      Este é um aplicativo que está sendo desenvolvido no meu TCC para tentar melhorar a experiência interativa entre músicos e público.
    </p>
    <p>
      Você consegue pedir músicas ao artista e também pode votar nos pedidos das outras pessoas.
    </p>
    <p>
      Aproveitem o show! Qualquer dúvida, reclamação ou sugestões pode entrar em contato comigo:
    </p>
    <img md-card-image src="assets/caio.jpeg"><br>
    <span>Caio Novaes</span><br><br>
    <md-icon>phone</md-icon><br>
    <span>(81) 9 9837-7676</span><br><br>
    <md-icon>mail</md-icon><br>
    <span>novaes.caiolins@gmail.com</span>
  </md-card-content>
</md-card>
