<md-card>
  <md-card-header>
    <md-card-title>Hashi</md-card-title>
    <md-card-subtitle>Experimento</md-card-subtitle>
  </md-card-header>
  <md-card-content>
    <p>
      O Hashi é um aplicativo que está sendo desenvolvido no meu TCC para melhorar a experiência interativa entre músicos e público.
    </p>
    <p>
      Provavelmente você já usou um hashi na vida. São os talheres utilizados pelos povos asiáticos e que estão nos nossos restaurantes asiáticos prediletos.
      No japão, hashi (橋) também significa ponte. Analogamente, esse aplicativo tem o propósito de servir como uma ponte entre você e o músico e vice-versa.
    </p>
    <p>
      Qualquer dúvida, reclamação ou sugestões pode entrar em contato comigo:
    </p>
    <img md-card-image src="assets/caio.jpeg"><br>
    <span>Caio Novaes</span><br><br>
    <md-icon>phone</md-icon><br>
    <span>(81) 9 9837-7676</span><br><br>
    <md-icon>mail</md-icon><br>
    <span>novaes.caiolins@gmail.com</span>
  </md-card-content>
</md-card>
