.lounge-form {
  margin: auto;
  width: 80%;
  padding: 20px 0;
}

md-input-container {
  width: 100%;
  margin: 2px 0;
}

md-radio-group {
  display: inline-flex;
  flex-direction: row;
}

md-radio-button {
  width: 100%;
  margin: 5px 5px;
}

button {
  width: 100%;
  margin: 20px 0;
}
