.login-form {
  margin: auto;
  width: 50%;
  padding: 120px 0;
}

md-input-container {
  width: 100%;
  margin: 2px 0;
}

button {
  width: 100%;
  margin: 10px 0;
}

a {
  width: 100%;
  margin: 10px 0;
}
