.fab-btn {
  position: fixed;
  bottom: 30px;
  right: 30px;
}

.default-template {
  text-align: center;
  margin: 10px 0;
  padding: 20px;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.instagram-icon {
  width: 26px;
  height: 26px;
  margin-right: 2px;
}
