<md-toolbar color="primary">
  <button md-icon-button [mdMenuTriggerFor]="menu">
    <md-icon>menu</md-icon>
  </button>
  <md-menu #menu="mdMenu">
    <a *ngIf="!isAuthenticated()" md-menu-item routerLink="/signin">
      <md-icon>input</md-icon>
      <span>Entrar</span>
    </a>
    <a *ngIf="!isAuthenticated()" md-menu-item routerLink="/signup">
      <md-icon>create</md-icon>
      <span>Cadastrar</span>
    </a>
    <a *ngIf="isAuthenticated()" md-menu-item (click)="onLogoutClicked()">
      <md-icon>highlight_off</md-icon>
      <span>Sair</span>
    </a>
    <ng-template [ngIf]="isAuthenticated() && performer">
      <a *ngIf="(show | async)?.live" md-menu-item (click)="toggleLive(false)">
        <md-icon>stop</md-icon>
        <span>Terminar show</span>
      </a>
      <a *ngIf="!(show | async)?.live" md-menu-item (click)="toggleLive(true)">
        <md-icon>play_arrow</md-icon>
        <span>Começar show</span>
      </a>
    </ng-template>
    <a md-menu-item routerLink="/about">
      <md-icon>info</md-icon>
      <span>Sobre</span>
    </a>
  </md-menu>
  Hashi
</md-toolbar>
<div *ngIf="(show | async)?.live; else notLiveDefaultTemplate">
  <md-list>
    <app-setlist-item *ngFor="let song of songs | async | sort" [performer]="isPerformer()" [song]="song"></app-setlist-item>
  </md-list>
  <span class="fab-btn">
    <button md-fab (click)="fabClicked()">
      <md-icon>playlist_add</md-icon>
    </button>
  </span>
</div>
<ng-template #notLiveDefaultTemplate>
  <md-card class="default-template">
    O show ainda não começou, <br><br> aguarde o sinal do músico :)
  </md-card>
</ng-template>
